@using MyPersonalWebsite.Models.Classes
@model List<HomePage> 
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serpil Welcomes You!</title>
    <link rel="stylesheet" href="~/web-MyPersonalWebsite/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>
    <div class="center">
        <div class="avatar">
            @foreach (var item in Model)
            {
                <img src="@item.Profile" >
            }

        </div>
        <div class="content">
            @foreach (var item in Model)
            {
            <h2 >@item.UserName</h2>
            <h4> @item.Title </h4>
            <p> @item.Description </p>
            <h4>@item.Contact</h4>
            }
        </div>
        @Html.Action("Icons","Homepage")
    </div>
</body>
</html>
